.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 5px;
  outline: none;
}
